<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.support.mapper.CommonMapper">

    <sql id="Base_Column_List">
      message_id, consumer, topic, tags, fail_times, cousume_status, cousume_date, crt_date
    </sql>

    <select id="queryOne" parameterType="java.lang.Integer"
        resultType="com.platform.common.pojo.admin.Company">
        select id,company_code,crt_date from company where id = #{id}
    </select>

    <select id="queryTableCloumnName">
        SELECT COLUMN_NAME FROM information_schema.columns WHERE table_name = #{tableName}
    </select>

    <insert id="insertBatchData" parameterType="java.util.HashMap">
        INSERT INTO ${TABLE_NAME} (
        <foreach collection="COLUMNS" item="item" index="index" separator=",">
            ${item}
        </foreach>
        ) values (
        <foreach collection="VALUES" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </insert>

    <select id="queryListData">
        SELECT * FROM #{tableName}
    </select>

</mapper>