<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.support.mapper.SupplierInfoMapper">

    <sql id="Base_Column_List">
        id, supr_no, supr_fullname, supr_abb, supr_effect_idnt, supr_cont_name, supr_cont_mode, supr_cont_mailbox, create_user, create_time, last_update_user, last_update_time    </sql>

    <resultMap id="BaseResultMap" type="com.platform.support.entity.SupplierInfo">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="suprNo" column="supr_no" jdbcType="VARCHAR"/>
        <result property="suprFullname" column="supr_fullname" jdbcType="VARCHAR"/>
        <result property="suprAbb" column="supr_abb" jdbcType="VARCHAR"/>
        <result property="suprEffectIdnt" column="supr_effect_idnt" jdbcType="VARCHAR"/>
        <result property="suprContName" column="supr_cont_name" jdbcType="VARCHAR"/>
        <result property="suprContMode" column="supr_cont_mode" jdbcType="VARCHAR"/>
        <result property="suprContMailbox" column="supr_cont_mailbox" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="lastUpdateUser" column="last_update_user" jdbcType="VARCHAR"/>
        <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, supr_no, supr_fullname, supr_abb, supr_effect_idnt, supr_cont_name, supr_cont_mode, supr_cont_mailbox, create_user, create_time, last_update_user, last_update_time
        from xxl_job.supplier_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, supr_no, supr_fullname, supr_abb, supr_effect_idnt, supr_cont_name, supr_cont_mode, supr_cont_mailbox, create_user, create_time, last_update_user, last_update_time
        from xxl_job.supplier_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, supr_no, supr_fullname, supr_abb, supr_effect_idnt, supr_cont_name, supr_cont_mode, supr_cont_mailbox, create_user, create_time, last_update_user, last_update_time
        from xxl_job.supplier_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="suprNo != null and suprNo != ''">
                and supr_no = #{suprNo}
            </if>
            <if test="suprFullname != null and suprFullname != ''">
                and supr_fullname = #{suprFullname}
            </if>
            <if test="suprAbb != null and suprAbb != ''">
                and supr_abb = #{suprAbb}
            </if>
            <if test="suprEffectIdnt != null and suprEffectIdnt != ''">
                and supr_effect_idnt = #{suprEffectIdnt}
            </if>
            <if test="suprContName != null and suprContName != ''">
                and supr_cont_name = #{suprContName}
            </if>
            <if test="suprContMode != null and suprContMode != ''">
                and supr_cont_mode = #{suprContMode}
            </if>
            <if test="suprContMailbox != null and suprContMailbox != ''">
                and supr_cont_mailbox = #{suprContMailbox}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="lastUpdateUser != null and lastUpdateUser != ''">
                and last_update_user = #{lastUpdateUser}
            </if>
            <if test="lastUpdateTime != null">
                and last_update_time = #{lastUpdateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into xxl_job.supplier_info(supr_no, supr_fullname, supr_abb, supr_effect_idnt, supr_cont_name, supr_cont_mode, supr_cont_mailbox, create_user, create_time, last_update_user, last_update_time)
        values (#{suprNo}, #{suprFullname}, #{suprAbb}, #{suprEffectIdnt}, #{suprContName}, #{suprContMode}, #{suprContMailbox}, #{createUser}, #{createTime}, #{lastUpdateUser}, #{lastUpdateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update xxl_job.supplier_info
        <set>
            <if test="suprNo != null and suprNo != ''">
                supr_no = #{suprNo},
            </if>
            <if test="suprFullname != null and suprFullname != ''">
                supr_fullname = #{suprFullname},
            </if>
            <if test="suprAbb != null and suprAbb != ''">
                supr_abb = #{suprAbb},
            </if>
            <if test="suprEffectIdnt != null and suprEffectIdnt != ''">
                supr_effect_idnt = #{suprEffectIdnt},
            </if>
            <if test="suprContName != null and suprContName != ''">
                supr_cont_name = #{suprContName},
            </if>
            <if test="suprContMode != null and suprContMode != ''">
                supr_cont_mode = #{suprContMode},
            </if>
            <if test="suprContMailbox != null and suprContMailbox != ''">
                supr_cont_mailbox = #{suprContMailbox},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="lastUpdateUser != null and lastUpdateUser != ''">
                last_update_user = #{lastUpdateUser},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from xxl_job.supplier_info where id = #{id}
    </delete>

</mapper>