<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.support.mapper.T1MqInfoMapper">

    <sql id="Base_Column_List">
      message_id, consumer, topic, tags, fail_times, cousume_status, cousume_date, crt_date
    </sql>

    <update id="updateMqStatus" parameterType="com.platform.common.pojo.support.T1MqInfo">
        UPDATE T1_MQ_INFO
        <set>
            <if test="failTimes != null and failTimes != ''">
                fail_times = #{failTimes},
            </if>
            <if test="cousumeStatus != null and cousumeStatus != ''">
                cousume_status = #{cousumeStatus},
            </if>
            cousume_date = NOW()
        </set>
        where message_id = #{messageId,jdbcType=VARCHAR}
        <if test="consumer != null and consumer != ''">
            and consumer = #{consumer}
        </if>
    </update>

</mapper>