<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.admin.mapper.SysMenuMapper">

    <sql id="Base_Column_List">
        id, parent_id, menu_name, menu_path, men_perms, component, type, icon, order_num, create_time, update_time, is_enabled    </sql>

    <resultMap id="BaseResultMap" type="com.platform.common.pojo.admin.SysMenu">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="menuPath" column="menu_path" jdbcType="VARCHAR"/>
        <result property="menPerms" column="men_perms" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isEnabled" column="is_enabled" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryRoleOfMenu" parameterType="java.lang.String" resultType="com.platform.common.pojo.admin.SysMenu">
        SELECT m.id, parent_id, menu_name, menu_path, men_perms, component, type, icon, order_num, create_time, update_time, is_enabled
        FROM sys_role_menu rm inner join sys_menu m on rm.menu_id = m.id where rm.role_code = #{roleCode}
    </select>

</mapper>